body{
    margin: 0;
    padding: 0;
}
.main_header{
    display: flex;
    justify-content: space-between;
}
.logo{
  
}
.menu{
margin-top: 20px;
}
.text_header{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.name{
    font-size: 30px;
}

.text1{
 font-size: 25px;
}
.btn_1{
    position: absolute;
    right: 490px;
    margin-top: 150px;
    display: flex;
    width: 170px;
    height: 60px;
    align-content: center;
}
.btn1{
    width: 200px;
    height: 70px;
    border: 3px solid white;
    background-color:rgba(255, 255, 255, 0) ;
    text-align: center;
    color: white;
    
}
.container{
    
    width: 940px;
    margin: 0 auto;
}

header{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background :url(/img/bg_header.png) no-repeat ;
    background-size: cover;
}
.about{
    margin-top: 0 ;
    height: 100vh;
    background: url(/img/bg_about.png) no-repeat;
    padding-top: 100px;
    background-size: 100%;
}
.name_about{
    font-size: 40px;
}
.text-about{
    font-size: 16px;
}
.text_about{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.border-txt{
    padding: 17px;
    border-left: 7px blue solid;
}
.portfolio{
    margin-top: 0 ;
    padding-top: 100px;
    height: 100vh;
    background: url(/img/bg_portfolio.png) no-repeat;
    background-size: 100%;
}
.botton-portfolio{

}
.donate{
    background-image: url(/img/bg_content.png);
    margin-top: 0 ;
    height: 100%;
    padding-top: 100px;
    height: 325px;
}
.donat{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
}
.contact{
    margin-top: 0 ;
    height: 100%;
    padding-top: 100px;
    height: 100vh;
    background-image: url(/img/bg_contact.png);
    display: flex;
    align-content: center;
}
.botton-contact{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    width: 330px;
    margin: 0 auto
    
}
.email{
    border-radius: 5px;
    
}
footer{
    margin-top: 0 ;
    height: 100%;
    padding-top: 100px;
    background-image:url(/img/BG.png);
    text-align: center;
}
.text_footer{
    display:flex;
    align-content: center;
    justify-content: center;
}
.contact-content{

}